* {
  box-sizing: border-box;
}

:root {
  --main-color: #f1f1f1;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.header .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  letter-spacing: 5px;
  font-size: 15px;
}
.header .main-menu {
  display: flex;
}
.header .main-menu .menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.header .main-menu .menu-list .menu-list-item {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .main-menu .menu-list .menu-list-item .menu-link {
  text-decoration: none;
  color: black;
  font-size: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.header .main-menu .menu-list .menu-list-item .menu-link:hover {
  color: white;
  background-color: rgb(107, 107, 107);
}

.in-pic {
  background-image: url("../lap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}
.in-pic .one {
  font-size: 70px;
}
.in-pic .two {
  font-size: 18px;
}
.in-pic .three {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  width: 250px;
  height: 50px;
  opacity: 0.6;
  background-color: rgb(226, 224, 224);
}
.in-pic .three a {
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.in-pic .three:hover {
  opacity: 1;
  z-index: 2;
}
.in-pic .one, .in-pic .two, .in-pic .three {
  margin: 0 0 45px 50px;
}
.in-pic .main-social-links {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 180px;
  height: 30px;
  margin: 0 0 0 50px;
}
.in-pic .main-social-links .main-social-links-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.in-pic .main-social-links .main-social-links-list .main-social-links-item {
  width: 30px;
}
.in-pic .main-social-links .main-social-links-list .main-social-links-item .main-social-links-link {
  text-decoration: none;
  color: gray;
}
.in-pic .main-social-links .main-social-links-list .main-social-links-item .main-social-links-link .main-social-links-link-pic {
  margin: 5px;
}
.in-pic .main-social-links .main-social-links-list .main-social-links-item .main-social-links-link:hover {
  opacity: 0.2;
}

.company {
  background-color: white;
  height: 100vh;
  padding: 20px;
  align-items: center;
}
.company .about {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.company .about .about-sec .about-p {
  font-size: 25px;
  text-align: center;
}
.company .about .about-sec .about-p-solgan {
  font-size: 20px;
  text-align: center;
}
.company .services-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}
.company .services-boxes .service-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.company .services-boxes .service-box .pic-service-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company .services-boxes .service-box .pic-service-div .service-svg-pic {
  height: 60px;
  width: 60px;
}
.company .services-boxes .service-box .section-service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.company .services-boxes .service-box .section-service-box .service-section-p, .company .services-boxes .service-box .section-service-box .service-section-des {
  text-align: center;
}

.show-work {
  display: flex;
  height: 100vh;
  background-color: #eee;
  justify-content: space-evenly;
  align-items: center;
}
.show-work .show-work-text {
  width: calc(50% - 100px);
  height: 60%;
}
.show-work .show-work-text .show-work-p {
  font-size: 25px;
}
.show-work .show-work-text .show-work-des {
  font-size: 17px;
}
.show-work .show-work-text .show-work-button {
  background-color: black;
  color: white;
  text-align: center;
  width: 170px;
  height: 45px;
}
.show-work .show-work-text .show-work-button .show-work-link {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-work .pic {
  width: 50%;
  height: 60%;
  background-image: url("../phone_buildings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 10px;
}

.team {
  height: 100vh;
  margin-bottom: 30px;
}
.team .about-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 50px 0;
}
.team .about-team .about-team-sec .about-team-p {
  font-size: 25px;
  text-align: center;
}
.team .about-team .about-team-sec .about-team-p-solgan {
  font-size: 20px;
  text-align: center;
}
.team .main-team-member {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.team .main-team-member .team-member {
  width: calc(25% - 30px);
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.team .main-team-member .team-member .main-team-member-div-pic {
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}
.team .main-team-member .team-member .pic-one {
  background-image: url("../team1.jpg");
}
.team .main-team-member .team-member .pic-two {
  background-image: url("../team2.jpg");
}
.team .main-team-member .team-member .pic-three {
  background-image: url("../team3.jpg");
}
.team .main-team-member .team-member .pic-four {
  background-image: url("../team4.jpg");
}
.team .main-team-member .team-member .team-member-name {
  font-size: 25px;
  padding: 10px 10px 10px 20px;
  margin: 0;
}
.team .main-team-member .team-member .team-member-section {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 15px;
  padding-top: 0;
}
.team .main-team-member .team-member .team-member-section .team-member-section-p {
  font-size: 15px;
  color: gray;
  padding-left: 10px;
}
.team .main-team-member .team-member .team-member-section .team-member-section-des {
  font-size: 15px;
  line-height: 2;
  padding-left: 10px;
}
.team .main-team-member .team-member .team-member-section .member-contact {
  height: 40px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .main-team-member .team-member .team-member-section .member-contact:hover {
  background-color: darkgray;
}
.team .main-team-member .team-member .team-member-section .member-contact .member-contact-link {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-basis: 100%;
}
.team .main-team-member .team-member .team-member-section .member-contact .msg-icon {
  height: 15px;
  width: 20px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.statistics .statistics-item {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 220px;
  flex-basis: 25%;
  background-color: rgb(100, 100, 100);
}
.statistics .statistics-item .statistics-p {
  font-size: 35px;
  text-align: center;
  color: white;
  margin: 0;
}
.statistics .statistics-item .statistics-title {
  font-size: 15px;
  text-align: center;
  color: white;
  margin: 0;
}

.our-work {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  margin: 30px 0 100px 0;
}
.our-work .our-work-text {
  margin-bottom: 50px;
}
.our-work .our-work-text .our-work-p {
  font-size: 20px;
  text-align: center;
}
.our-work .our-work-text .our-work-title {
  font-size: 17px;
  text-align: center;
}
.our-work .main-our-work-image {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.our-work .main-our-work-image .our-work-image {
  flex-basis: calc(25% - 20px);
  background-color: #333;
  height: 200px;
  margin: 5px;
}
.our-work .main-our-work-image .work-pic-one {
  background-image: url("../work1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.our-work .main-our-work-image .work-pic-two {
  background-image: url("../work2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.our-work .main-our-work-image .work-pic-three {
  background-image: url("../work3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.our-work .main-our-work-image .work-pic-four {
  background-image: url("../work4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.our-work .main-our-work-image .work-pic-five {
  background-image: url("../work5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.our-work .main-our-work-image .work-pic-six {
  background-image: url("../work6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.our-work .main-our-work-image .work-pic-seven {
  background-image: url("../work7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.our-work .main-our-work-image .work-pic-eight {
  background-image: url("../work8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.our-skils {
  display: flex;
  align-items: center;
  height: 400px;
  background-color: #eee;
}
.our-skils .our-skils-text {
  flex-basis: 50%;
  padding: 30px;
}
.our-skils .our-skils-text .our-skils-p {
  font-size: 20px;
}
.our-skils .our-skils-text .our-skils-title {
  width: 85%;
  line-height: 2;
  font-size: 15px;
}
.our-skils .main-skils {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-content: space-evenly;
  flex-wrap: wrap;
}
.our-skils .main-skils .skils {
  width: 100%;
}
.our-skils .main-skils .skils .skils-p {
  font-size: 15px;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}
.our-skils .main-skils .skils .skils-p .skils-p-pic {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.our-skils .main-skils .skils .skils-bar {
  height: 25px;
  width: 90%;
  background-color: gray;
}
.our-skils .main-skils .skils .skils-bar .skils-bar-fill {
  background-color: #555555;
  color: white;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-skils .main-skils .skils .skils-bar .photography {
  width: 90%;
}
.our-skils .main-skils .skils .skils-bar .web-design {
  width: 85%;
}
.our-skils .main-skils .skils .skils-bar .photoshop {
  width: 75%;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #616161;
}
.pricing .about-pricing {
  color: white;
  margin: 100px 0 50px 0;
  font-size: 20px;
  width: 100%;
}
.pricing .about-pricing .about-pricing-sec .about-pricing-p {
  text-align: center;
}
.pricing .main-pricing {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.pricing .main-pricing .pricing-box {
  flex-basis: calc(33.3333333333% - 25px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .main-pricing .pricing-box .pricing-box-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 100px;
  width: 100%;
  font-size: 25px;
  margin: 20px 0 0 0;
}
.pricing .main-pricing .pricing-box .pro {
  margin: 0;
  height: 140px;
  background-color: #f44336;
}
.pricing .main-pricing .pricing-box .pricing-box-des {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 0.5px solid #d6d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing .main-pricing .pricing-box .pricing-box-des .pricing-box-des-p {
  margin: 0;
  padding: 0;
}
.pricing .main-pricing .pricing-box .pricing-box-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #eee;
}
.pricing .main-pricing .pricing-box .pricing-box-button .pricing-box-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 15px;
  height: 50%;
  flex-basis: 25%;
}/*# sourceMappingURL=main.css.map */